@import url('https://fonts.cdnfonts.com/css/jua');

body {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: #E2E9FE;
}

.authorizationContainer {
    width: 1440px;
    background-color: #E2E9FE;
    display: flex;
    justify-content: center;
}

.logInContainer {
    display: flex;
    margin-top: 143px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 712px;
}

.logInLogo {
    width: 321px;
    height: 52px;
}

.authorization {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
    flex-direction: column;
    gap: 58px;
}

.authorizationInput {
    font-family: "Jua", sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 77px;
    letter-spacing: 0;
    text-align: left;
    color: rgba(255, 175, 158, 1);
    padding-left: 50px;
    background-color: rgba(255, 249, 247, 1);
    width: 712px;
    height: 99px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
}
.authorizationInput::placeholder {
    color: rgba(255, 175, 158, 1);
}

.authorizationInput:focus {
    outline: none;
    border: none;
}

.authorizationAgeBox {
    font-family: "Jua", sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 77px;
    letter-spacing: 0;
    text-align: left;
    color: rgba(255, 175, 158, 1);
    padding-left: 50px;
    background-color: rgba(255, 249, 247, 1);
    width: 289px;
    height: 99px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    border: none;
    cursor: pointer;
    margin-right: 430px;
}
.authorizationAgeBox::placeholder {
    color: rgba(255, 175, 158, 1);
}

.authorizationAgeBox:focus {
    outline: none;
    border: none;
}

.authorizationAgeSelect {
    font-family: "Jua", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0;
    color: rgba(122, 154, 240, 1);
    padding: 15px 50px;
    background-color: rgba(255, 249, 247, 1);
    border: none;
    border-radius: 50px;
    width: 200px;
    height: 99px;
    margin-left: 86px;
    appearance: none;
    cursor: pointer;
    outline: none;
}

.authorizationAgeSelect option {
    font-family: "Jua", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0;
    color: rgba(122, 154, 240, 1);
}

.forgotPassword {
    font-family: "Jua", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0;
    color: rgba(122, 154, 240, 1);
    width: 712px;
    height: 58px;
    text-align: right;
    margin-top: 52px;
    margin-bottom: 52px;
}

.buttonGo {
    background-color: #7A9AF0;
    width: 712px;
    height: 99px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    font-family: "Jua", sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 77px;
    letter-spacing: 0;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    transition: 0.3;
    border: none;
    cursor: pointer;
}

.buttonGo:focus {
    outline: none;
    border: none;
}

.loginBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 21px;
    margin-bottom: 21px;
}

.moveToLoginLink {
    font-family: "Jua", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: 0;
    color: rgba(122, 154, 240, 1);
}

.loginLink {
    padding-left: 25px;
    font-family: "Jua", sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 77px;
    letter-spacing: 0;
    text-align: left;
    color: rgba(255, 175, 158, 1);
    cursor: pointer;
}